name: "Build"

on:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - uses: cachix/cachix-action@v16
      with:
        name: pre-commit-hooks
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: rm -rf /opt&
    - name: Evaluate flake-compat default.nix
      run: nix eval --show-trace --file ./default.nix run

  tests-flakes:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - uses: cachix/cachix-action@v16
      with:
        name: pre-commit-hooks
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: rm -rf /opt&

    - name: Check nixpkgs-unstable
      working-directory: ./dev
      run: nix flake check -L --show-trace --no-write-lock-file

    - run: nix eval .#lib.x86_64-linux.run --show-trace

  tests-flakes-stable:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
    - uses: cachix/cachix-action@v16
      with:
        name: pre-commit-hooks
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
    - run: rm -rf /opt&

    - name: Check nixpkgs-stable
      working-directory: ./dev
      run: nix flake check -L --show-trace --override-input nixpkgs github:NixOS/nixpkgs/nixos-25.05
